.array-container{
    position: absolute;
    top: 20%;
    padding: 0 5vw;
    background-color: #161515;;
}

.array-bar{
    width: 5px;
    background-color: #ff0080;
    display: inline-block;
    margin: 0 1px;
}

.menu{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #363333;
    padding: 25px 10vw;
}
.menu > div{
    margin: 0 10px;
}
.menu > div > button{ 
    background-color: #161515;
    padding: 10px;
    color: #ff0080;
    border: 2px solid #000000;
    outline: none;
    cursor: pointer;
}
.menu > div > button:hover{ 
    background-color: #000000;
    padding: 10px;
    color: #c20061;
    border: 2px solid #161515;
    outline: none;
    cursor: pointer;
}

.AlgoDropwDown{

}
.dropdown-menu{
    position: absolute;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
}
.dropdown-menu > button{
    padding: 10px;
    background-color: white;
    color: red;
    border-top: none;
    outline: none;
    cursor: pointer;
}
.dropdown-menu > button:hover{
    padding: 10px;
    background-color: rgb(204, 204, 204);
    color: rgb(170, 7, 7);
    border-top: none;
    outline: none;
    cursor: pointer;
}
